<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>backend/B</title>
</head>
<body>
  <ul>
    {% for post in all_posts %}
      <li>{{ post.user }} : {{ post.content }}</li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
  <form action="/posts/", method="post">
    <input id="post_content" type="textarea" name="content" />
    <input type="submit" name="submit" value="送信" />
  </form>
  {% endif %}
  <ul>
    <li><a href={% url 'login' %}>Log in</a></li>
    <li><a href={% url 'signin' %}>Sign in</a></li>
  </ul>
</body>
</html>
