.fullFruitsList {
  /* size */
  width: 700px;

  /* flex */
  display: flex;
  gap: 100px;
  flex-direction: row;

  /* font */
  font-size: 16px;
}

.pane {
  /* size */
  min-width: 300px;
  width: 300px;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.list {
  /* size */
  min-width: 300px;
  width: 300px;
  min-height: 50vh;
  padding-left: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border */
  border: 1px solid navy;
}

.item {
  /* size */
  width: 80%;
  padding: 10px 0;

  /* border */
  border-bottom: 1px solid navy;
  
  /* list */
  list-style: none;
}

.button {
  /* size */
  height: 40px;
  width: 150px;

  /* color */
  background-color: navy;
  color: white;

  /* border */
  border: none;
}
