/* FruitsInput */
.fruit-input {
  height: 30px;
  display: flex;
}

.fruit-input-text {
  /* size */
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;

  /* border */
  border-width: 1px;
  border-color: navy;
}

.fruit-input-button {
  /* position */
  margin-left: 5px;
  padding: 0 5px;

  /* size */
  height: 100%;
  box-sizing: border-box;

  /* color */
  color: white;
  background-color: navy;
}

/* FruitsItem */
.fruit-item {
  height: 50px;
  display: flex;
  list-style: none;
  border: 1px solid navy;
  box-sizing: border-box;
}

.fruit-item-delete {
  min-width: 50px;
  width: 50px;
  height: 100%;
  text-align: center;
  background-color: navy;
  color: white;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fruit-item-name {
  height: 100%;
  padding-left: 20px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}

/* FruitItemList */
.fruit-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* FruitsForm */
.fruits-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
